<div class="relative overflow-hidden bg-white py-16 dark:bg-gray-800">
  <div
    class="hidden lg:absolute lg:inset-y-0 lg:block lg:h-full lg:w-full lg:[overflow-anchor:none]"
  ></div>
  <div class="lg:max-w-4xl mx-auto relative px-8 lg:px-8 md:px-8 md:max-w-2xl">
    <div class="flex mb-10 justify-end">
      <div
        class="text-base mx-3 prose prose-lg prose-indigo text-gray-500 dark:text-gray-400"
      >
        {{ article.createdAt }}
        <span *ngIf="isupdated">（updated: {{ article.updatedAt }}）</span>
      </div>
      <div
        class="mx-2 cursor-pointer"
        *ngFor="let tag of article.tagList"
        (click)="sortByTag(tag.name)"
      >
        <span
          class="inline-flex items-center rounded bg-red-100 px-2 py-0.5 text-xs font-medium text-red-800"
          >{{ tag.name }}</span
        >
      </div>
    </div>
    <div class="mx-auto text-lg mb-20">
      <h1 class="w-fit mx-auto">
        <span
          class="mt-2 block text-2xl font-bold leading-8 tracking-tight text-gray-900 dark:text-gray-50"
          >{{ article.title }}</span
        >
      </h1>
    </div>
    <div
      class="max-w-none prose prose-slate prose-red prose-headings mx-auto mt-6 text-gray-500 dark:prose-invert"
      [innerHTML]="article.content"
    ></div>
  </div>
</div>
